@font-face {
  font-family: 'base';
  src: url('./font/VastagoGrotesk-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'heading';
  src: url('./font/VastagoGrotesk-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;    
}
:root{
	--color:#ED1D21;
	--padding: 1rem;
}

body{
	position: relative;
	height: fit-content;
	width:100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: "base";
	overflow-x: hidden;
}

img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}







#heroBgContainer {
        position: relative;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
      }

      #heroBgContainer canvas {
        display: block;
        width: 100vw;
        height: 100%;
      }









	/* Cards container */
.cards {
  position: absolute;
  inset: 0;
  z-index: 10;
  transform-style: preserve-3d;
}

/* Card */
.card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: min(26vw, 360px);
  aspect-ratio: 4/5;
  isolation: isolate;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  will-change: transform, filter;
  transform-origin: 90% center;
  contain: layout paint; /* reduce layout/paint scope for perf */
}

.card__img {
  border-radius: 0px;
  opacity: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transform: translateZ(0);
  pointer-events: none;
  -webkit-user-drag: none;
  user-select: none;
}

/* Reduced motion */
@media (prefers-reduced-motion: reduce) {
  .card {
    transition: none !important;
    animation: none !important;
  }
}
	
	.animate-text {
      text-transform: none;
    }
	
	.word{
		display: inline-block!important;
	}
	.char-wrap {
      display: inline-block!important;
      overflow: hidden;
      vertical-align: bottom;
		text-transform:none;
    }

    /* Splitting generates .char spans; make them transformable */
    .char {
      display: inline-block;
		text-transform:none;
    }



.features-slider {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  perspective: 3000px;
  overscroll-behavior: none;
  -webkit-user-select: none;
  user-select: none;
}

.features-slider.carousel-mode {
  touch-action: none;
  cursor: grab;
}
.features-slider.carousel-mode.dragging {
  cursor: grabbing;
}

